[project]
	description = Openstack Foreman Installer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jason E. Rist (knowncitizen)
[access "refs/for/refs/*"]
	read = group user/Jason E. Rist (knowncitizen)
	push = group user/Jason E. Rist (knowncitizen)
	label-Code-Review = -2..+2 group user/Jason E. Rist (knowncitizen)
	label-Verified = -1..+1 group user/Jason E. Rist (knowncitizen)
	rebase = group user/Jason E. Rist (knowncitizen)
	removeReviewer = group user/Jason E. Rist (knowncitizen)
	submit = group user/Jason E. Rist (knowncitizen)
[access "refs/heads/*"]
	read = group user/Jason E. Rist (knowncitizen)
	create = group user/Jason E. Rist (knowncitizen)
	push = +force group user/Jason E. Rist (knowncitizen)
	pushMerge = group user/Jason E. Rist (knowncitizen)
[access "refs/tags/*"]
	push = +force group user/Jason E. Rist (knowncitizen)
	pushTag = group user/Jason E. Rist (knowncitizen)
	pushSignedTag = group user/Jason E. Rist (knowncitizen)
